.git
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache

data/raw
data/processed
models
cloud_upload
logminer_article1_latex_draft
logminer_article2_latex_draft

*.pdf
*.zip
*.7z
*.rar
*.tar
*.gz
*.joblib
*.pkl
